// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
.user_img{
  width: 100%;
  display:block;
  margin:auto;

}
.user-menu{
  width:400px; 
  padding: 10px;
  padding-bottom: 0px;
}
.main-container{
	width: 100%;
}
.dashboard{
  width: 100%;
}
.gridster{
	min-width:1000px;
}
.dashboard ul li{
  display: inline-block;
}

.widget{
  height: 300px;
  display: block;
}

.nav-sidebar-img{
  width: 45%;
  display:block;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sidebar{
  z-index: 102;
}
.sidebar-wrapper{
	position: fixed;
  top: 65px;
  left: 0;
  width: 180px;
  height: 100%;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #222;
}
.icon-center{
	text-align: center
}

.desactive{
	color: #eee;
  background-color: #222 ;
}

.nav-sidebar li :hover{
  color: #222;
  background-color: #eee;
}
.active{
  color: #222;
  background-color: #eee;
}
.link-black{
	color: #222;
}
.link-white{
	color: #eee;
}

.inner-widget-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.widgets-container{
	position:absolute;
	left:180px;
	top:66px;
	width:80%;
	height:900px;
}