// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
.user_img{
  width: 100%;
  display:block;
  margin:auto;

}
.user-menu{
  width:400px; 
  padding: 10px;
  padding-bottom: 0px;
}
.main-container{
	width: 100%;
}
.sidebar-wrapper{
  position: fixed;
  top: 65px;
  left: 0;
  width: 10%;
  height: 100%;
  border: none;
  z-index: 102;
  border-radius: 0;
  overflow-y: auto;
  background-color: #222;
}
.dashboard{
  position: relative;
  float: right;
  width: 90%;
  height: 100%;
  padding: 10px;
}

.widget{
  display: inline-block;
  max-width: 100%;
}
#home{
  width: 200px;
}
#last_one{
  width: 100px;
}
#reward{
  width: 300px;
}
#system{
  width: 200px;
}
#total_saving{
  width: 400px;
}
#week{
  width: 200px;
}
.nav-sidebar-img{
  width: 60%;
  display:block;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon-center{
	text-align: center
}

.desactive{
	color: #eee;
  background-color: #222 ;
}

.nav-sidebar li :hover{
  color: #222;
  background-color: #eee;
}
.active{
  color: #222;
  background-color: #eee;
}
.link-black{
	color: #222;
}
.link-white{
	color: #eee;
}
// .widget-active{
//   z-index: 100;
//   position: absolute;
//   width: 65vw !important;
//   height: 50vh !important;
//   margin: 0 !important;
//   left: 20vw;
//   top: 25vh;
//   transform:scale(1.4);
// }

// .widget-container{
// 	margin: 5px;
// 	background-color: red;
// 	height: 80%;
// 	transition: all 0.7s ease;
// }

.inner-widget-container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}