.lastOne {
	  width: 100%;
    background: -webkit-linear-gradient(45deg, hsl(227, 100%, 73%) 0%, transparent 70%), -webkit-linear-gradient(135deg, hsl(172, 100%, 75%) 10%, transparent 80%), -webkit-linear-gradient(225deg, hsl(155, 100%, 93%) 10%, transparent 80%), -webkit-linear-gradient(315deg, hsl(198, 100%, 70%) 50%, transparent 100%);
    background: -ms-linear-gradient(45deg, hsl(227, 100%, 73%) 0%, transparent 70%), -ms-linear-gradient(135deg, hsl(172, 100%, 75%) 10%, transparent 80%), -ms-linear-gradient(225deg, hsl(155, 100%, 93%) 10%, transparent 80%), -ms-linear-gradient(315deg, hsl(198, 100%, 70%) 50%, transparent 100%);
    background: linear-gradient(45deg, hsl(227, 100%, 73%) 0%, transparent 70%), linear-gradient(135deg, hsl(172, 100%, 75%) 10%, transparent 80%), linear-gradient(225deg, hsl(155, 100%, 93%) 10%, transparent 80%), linear-gradient(315deg, hsl(198, 100%, 70%) 50%, transparent 100%);
	img{
		width: 100%;
	}
}
